
.about-root{
    background: #fff;
}

.self-icon{
    font-size:3rem;
    margin-top: 5rem;
    margin-right: 3rem;
    color:#888
}

.self-icon:hover{
    color:rgb(99, 175, 168)

}
.self-image{
    width: 300px;
}

.mail-icon{
    font-size:1rem;
    margin-top: 1rem;
    margin-right:1rem;
    color:#888
}

.about-header{
    background:#fafafa;
    height:400px;
    padding:6% 8%;
    margin-bottom: 100px;

}
.about-headerTitle{
    font-Size:64px ;
    color:#555
}

.about-subTitle{
    color:#777 
}


.about-body{
    padding-bottom: 100px;
    height: 500px;
}



@media (max-width: 576px) {


    .about-header{
        height:300px;
        padding:26% 8%;
    }
    .about-headerTitle{
        font-Size:36px ;
    }
    
    .about-subTitle{
        font-Size:24px ;
    }


    .about-body{
        padding-bottom: 100px;
        height: 500px;
        padding-left: 50px;

    }    
    

    .self-icon{
        font-size:2rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }
    

    .self-image{
        width: 300px;
    }
 
    
    }
        
        
        