@import url(~normalize.css/normalize.css);
@import url(~font-awesome/css/font-awesome.css);
.header-root{
    width: 100%;
}
    

.nav-item{
    color: #fff;
    margin-left: 2%;
    font-size: 24px;
    font-weight: 600;
}

.nav-item:active{
    color: rgb(156, 240, 231);
}


.nav-right{
    padding-top: 23px;
    padding-bottom: 20px;
    height: 80px;
    background: #81D8D0;
    width: 20%;
    float: right;
    
}

.nav-left{
    padding-top: 15px;
    padding-bottom: 20px;
    height: 80px;
    background: #81D8D0;
    width: 80%;
    float: left;
    
}

.login{
    float: right;
    margin-right: 10%;
}

.logout{
    float: right;
    margin-right: 10%;
}

@media (max-width: 576px) {
   

    .nav-item{
        font-size: 12px;
        font-weight: 400;
        width: 45px;
    }
    
    .nav-right{
        padding-top: 18px;
        padding-bottom: 20px;
        height: 60px;
        width: 40%;
        
    }
    
    .nav-left{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 60px;
        width: 60%;        
    }
    
    .login{
        float: right;
        margin-right: 5px;
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    
    .logout{
        float: right;
        margin-right: 5px;
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    
    }
        
