.home-root{
    height: 800px;
    background:white;
    padding-top: 200px;
}

.home-box{
    width:500px;
    height: 500px;
    margin: 0 auto;
   
}

.welcome-box{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 200px;
}