@import url(~normalize.css/normalize.css);
@import url(~font-awesome/css/font-awesome.css);
* {
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; }

.player-container, .player-container .info-and-control .time-and-volume, .player-container .info-and-control .control-container, .player-container .info-and-control .control-container .mode-control, .player-container .info-and-control .control-container .controls {
display: flex; }

.player-container .info-and-control {
display: flex;
flex-direction: column; }

.hide, .player-container .info-and-control .time-and-volume .volume-container {
display: none; }

.icon {
cursor: pointer; }

.player-container {
flex-wrap: wrap-reverse;
justify-content: center; }

.player-container .info-and-control {
width: 200px;; }

.player-container .info-and-control .music-info {
text-align: center; }

.player-container .info-and-control .music-info .title, .player-container .info-and-control .music-info .artist {
  text-align: left;
font-weight: 400;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap; }

.player-container .info-and-control .music-info .title {
margin-bottom: 5px;
color: #030303;
font-size: 1.5em; }

.player-container .info-and-control .music-info .artist {
color: #4a4a4a;
font-size: 1em; }

.player-container .info-and-control .time-and-volume {
height: 3.6em;
line-height: 1.6em;
color: #9b9b9b;
font-size: 0.8em; }

.player-container .info-and-control .time-and-volume .left-time {
width: 3.2em;
margin-right: 10px;
text-align: left;
font-weight: 400; }

.player-container .info-and-control .time-and-volume .volume-container .volume-icon i {
color: #9b9b9b; }

.player-container .info-and-control .time-and-volume .volume-container .volume-wrapper {
width: 50px;
padding-left: 2px;
opacity: 0;
transition: opacity .5s linear; }

.player-container .info-and-control .time-and-volume .volume-container .volume-wrapper .progress-container {
height: 3px;
margin-top: calc(0.8em - 1px);
background-color: #e5e5e5; }

.player-container .info-and-control .time-and-volume .volume-container .volume-wrapper .progress-container .progress {
  height: 4px;
  background-color: #9b9b9b; }

.player-container .info-and-control .time-and-volume .volume-container:hover .volume-wrapper {
opacity: 1; }

.player-container .info-and-control .progress-container {
width: 100%;
height: 3px;
background-color: #dadada;
cursor: pointer; }

.player-container .info-and-control .progress-container .progress {
height: 100%; }

.player-container .info-and-control .control-container {
position: relative;
width: 100%;
margin-top: 1.3em;
justify-content: center;
font-size: 1.8em; }

.player-container .info-and-control .control-container .mode-control {
position: absolute;
left: 0; }

.player-container .info-and-control .control-container .controls {
width: 240px;
justify-content: space-around; }



.player-container .cover-container {
  margin-left: 30px;
  margin-right: 30px;
width: 240px;
height: 240px;
overflow: hidden; }

.player-container .cover-container .cover {
width: 240px;
height: 240px;
border-radius: 50%;
background-size: cover; }

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);
}to {
    -webkit-transform: rotate(360deg);
}}

.Rotation {
    -webkit-transform: rotate(360deg);
    animation: rotation 12s linear infinite;
    -moz-animation: rotation 12s linear infinite;
    -webkit-animation: rotation 12s linear infinite;
    -o-animation: rotation 12s linear infinite;
}


.player-container .list-container {
  width: 200px;
  height: 240px;
  overflow-y: auto;
}

.player-container .list-container .list-item {
  border-bottom: 1px solid #f5f5f5;
  font-weight: 400;
  padding-right: 20px;
  padding-top: 15px;
  text-align: right;
  height: 50px;
  
}

.player-container .list-container .list-item:hover{
  background-color: #81D8D0;
  cursor: pointer;
}


@media (max-width: 576px) {
.player-container .info-and-control {
width: 220px;
margin-bottom: 40px; }

.player-container .info-and-control .music-info {
text-align: start; }

.player-container .info-and-control .time-and-volume .volume-container {
display: flex; }

.player-container .info-and-control .progress-container {
height: 2px; }

.player-container .info-and-control .progress-container .progress {
height: 100%; }

.player-container .info-and-control .control-container {
justify-content: space-between; }

.player-container .info-and-control .control-container .mode-control {
position: relative; }

.player-container .info-and-control .control-container .controls {
width: 120px;
justify-content: space-between; }

.player-container .cover-container {
margin-bottom: 40px; } 

.player-container .list-container {
  display: none} 


}






@media (min-width: 768px) {
.player-container .info-and-control {
width: 430px; } }


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8f8f8; 
    border: 1px solid #f8f8f8
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(206, 206, 206, 0.89); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(206, 206, 206, 0.705); 

    
  }